* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 720px;
    margin-left: 10px;
}

h1 {
  margin-bottom: 16px;
  margin-top: 10px;
  width: 101.5%;
  text-align: center;
  background-color: bisque;
  margin-left: 20px;
}

h3 {
  margin-bottom: 16px;
  text-align: center;
}

form {
  width: 100%;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
}

.form-field label {
    font-weight: bold;
    display: block;
}

.form-field input {
    width: 100%;
    display: block;
    padding: 8px;

}

.form-field select {
  width: 50%;
  display: block;
  padding: 8px;
}



#addrNumber {
  width: 10%;
}

#state {
  width: 20%;
}

button {
    display: block;
    width: 101.5%;
    padding: 8px 0;
    border: none;
    background-color: rgb(117, 128, 0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}

